.game-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px 0px 0px 0px;
}

.game-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 0px;
}


.game-controls a {
  margin-right: 20px;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.game-controls a:hover {
  text-decoration: underline;
  color: #d5d6a5;
}



#info-icon svg{
  margin-left: 20px;
  margin-bottom: 10px;
  color: white;
}

#info-icon svg:hover {
  color: #d5d6a5;
}


.timer-container p{
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 10px;
  margin: 0;
  color: white;
  text-decoration: none;
}

.timer-container span{
  color: #d5d6a5;
}