

.body-title span {
    display: block;
    margin: 0;
}

span#Welcome {
    font-size: 20px;
    font-weight: 400;
    margin: 20px 0 0px;
    text-shadow: 2px 2px 4px #000000;
}

span#Pixelated {
    font-size: 30px;
    font-weight: 500;
    margin: 5px 0 0px;
    text-shadow: 2px 2px 4px #000000;
}

span#Code {
    font-size: 25px;
    font-weight: 400;
    margin: 0 0 15px;
    text-shadow: 2px 2px 4px #000000;
}



#char-img img{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}


/* body-title */

/* CSS Keyframes Animation Rule */
@keyframes gradientColor {
    0% {
        color: #e8e9d3;  /* Start color */
    }
    25% {
        color: #b8ca7b; 
    }
    50% {
        color: #E1E460;
    }
    75% {
        color: #b8ca7b;
    }
    100% {
        color: #e8e9d3; /* End color */
    }
}

/*.body-title & Animation*/
.body-title {
    font-family: 'Press Start 2P';
    color: white;
    text-align: center;
    /* animation: gradientColor 3s ease-in-out infinite; */
}


/* SIGN IN/UP FORM  */

.sign-in-sign-up {
    font-family: 'Pixelify Sans';
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    color: rgb(225, 228, 96);
}


.sign-in-sign-up h2{
    text-align: center;
    font-weight: 500;
}

.sign-in-up-input label {
    font-family: 'Pixel Operator';
    margin-bottom: 5px;
    border: none;
    outline: none;
    color: #D5D6A5; 
}


.sign-in-up-input input{
    font-family: 'Pixel Operator';

    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 15rem;
    padding: 10px;
    border: none;
    outline: none;
    
}

.sign-in-up-button input{

    margin: auto; /* center the button horizontally */
    margin-bottom: 15px;
    padding: 5px;
    width: 10rem;
    
    display: flex;
    justify-content: center;
    border: none;
    outline: none;

    background-color: #3A3A3A;
    color: white;

    font-family: 'Pixelify Sans';
    font-size: 20px;
    font-weight: 300;
    cursor: pointer;

    &:hover
    {
        color: #D5D6A5;
        background-color: rgba(34, 34, 34, 0.867);
    }
}

.sign-in-up-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.sign-in-up-link a {
    color: #D5D6A5;
    font-weight: 400;
    text-decoration: underline;
}

.sign-in-up-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(132, 131, 131, 0.06);;
    width: 400px;
    margin-bottom: 20px;
}

