.popup {
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.45);

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

.popup-inner {
  text-align: center;
  background-color: #2c2c2c;
  padding: 10px;
  max-width: 768px;
  width: 700px;
}

.popup-inner p {
  font-family: "pixel operator";
  color: #2d2a2a;
  background-color: #8a8787;
  font-size: 20px;
  line-height: 1.5;
  margin: 16px 16px;
}

.close {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.close::before {
  content: "";
  width: 30px;
}


.x-close {
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  margin: 0;
  padding: 0;
  order: 2;
}

.x-close:hover {
  color: yellow;
}

.popup:target {
  opacity: 1;
  pointer-events: all;
}

.inner-title {
  order: 1;
  flex-grow: 1;
  text-align: center;

  justify-content: center;
  color: #fff;
  font-weight: 300;
}
