/* SETTING */

.setting-close,
.info-close {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.setting-close .info-close::before {
  content: "";
  width: 30px;
}

/* audio slider */

.setting-button {
  color: rgb(219, 219, 145);
  display: flex;
  justify-content: center;
  gap: 10em;
  padding: 15px 0px;
}

.slider {
  color: #fff;
  position: relative;
  display: flex;
  justify-content: center;
  padding: 20px 10px;
}

.key-text {
  color: #fff;
}

.keys i {
  font-size: 40px;
  color: #fff;
}

#volValue {
  font-family: "pixel operator";
  position: relative;
  display: block;
  color: #fff;
  left: 20px;
  font-size: 20px;
  font-weight: 500;
}
